*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}

html.js .loader {
	background: none repeat scroll 0 0 #ffffff;
	bottom: 0;
	height: 100%;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 9999;
}
html.js .loader_inner {
	background-image: url("../img/preloader.gif");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #fff;
	height: 60px;
	width: 60px;
	margin-top: -30px;
	margin-left: -30px;
	left: 50%;
	top: 50%;
	position: absolute;
}

body {
	font-family: sans-serif;
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.6;
	font-family: "RobotoRegular", sans-serif;
	overflow-x: hidden;
}
.hidden {
	display: none;
}
/*mystyle*/
.test-logo {
	margin: 0 auto 0;
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    border: 1px solid #000;
    background-image: url("../img/logo_vinexpo100x100.png");
}
.test-navbar {
	margin-top: 30px;
  font-size: 20px;
  margin-bottom: 0;
  text-align: center;
}

.test-navbar ul{
	 width: 310px;
   margin: 0 auto;
}
.test-navbar li{
	margin-right: 0px;
	margin-left: 0;
	float: left;
}
.test-navbar li a i{
	margin-right: 15px;
}
.test-navbar li a{
	border-right: 1px solid #000;
  line-height: 0px;
  padding: 10px 10px;
}

.test-heading-img img{
	  width: 100%;
    height: 100%;
}
.test-header-line {
	margin-top: 20px;
}
.test-heading-img {
		margin-top: 10px;
}
.test-form-subscribe {
	  float: right;
    margin-top: 20px;
}
.test-form-subscribe label{
	margin-right: 10px;
}
.test-form-subscribe input{
	margin-right: 10px;
}
.test-content-block {
	margin-top: 20px;
}
.test-content-item {
	border: 1px solid #000;
	padding: 10px 20px;
	margin-bottom: 5px;
}
.test-contain-footer {
	margin-top: 20px;
	border-top: 1px solid #000;
}
.test-right-footer-item {
	font-size: 25px;
	text-align: right;
	margin-top: 20px;
}
.test-right-footer-item i{
	margin-left: 5px;
	cursor: pointer;

}
ul.nav.navbar-nav i {
    display: none;
}
.test-left-footer-item {
	margin-top: 20px;
	font-size: 13px;
}
.test-left-footer-item ul{
	padding-left: 0;
	margin-bottom: 0;
	margin-right: 0;
}
.test-left-footer-item ul li{
	float: left;
	border-right: 1px solid #000;
	list-style: none;
}
.test-left-footer-item ul li a{
	padding: 3px;	
}
.test-ul-footer p{
	margin: 0;
}
.test-footer-last-child-li {
	border-right: none !important;
}
.test-padding-zero {
	padding-left: 2px;
	padding-right: 2px;
}
.test-form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}
.test-form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
}
.test-form-group label{
	display: none;
}
.test-padding-top {
	padding-top: 80px;
}
.test-position {
	position: absolute;
}