/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	
	/*Disable Animation on Mobile Devices*/
	.animated {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
	
	.test-navbar ul{
		width: 360px;
    	margin: 0 auto;
	}
	.test-right-footer-item {
		font-size: 30px;
	}
	.test-left-footer-item {
		font-size: 16px;
	}
	.test-navbar li a{
		padding: 10px 15px;
	}
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	.test-navbar ul{
		width: 100%;
		margin: 0;
		font-size: 25px;
	}
	.test-form-group label{
		display: inline-block;
	}
	.test-padding-top {
		padding-top: 0px;
	}
	.test-position {
		position: relative;
	}
	.test-navbar {
		margin-right: -15px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.test-navbar li{
		margin-left: 50px;
	}
	.test-navbar ul{
		float: right;
		margin-right: -15px;
	}
	ul.nav.navbar-nav i {
    	display: inline;
	}
	.test-navbar li a{
		border-right: none;
	 	line-height: 25px;
	}
	.test-navbar {
		margin-top: 25px;
	}

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	.test-navbar li{
		margin-left: 40px;
	}
	.test-navbar ul{
		float: right;
		margin-right: 0px;
	}
	.test-navbar {
		border:1px solid #000;
		padding-top: 20px;
		padding-bottom: 50px;
		margin-right: 0px;
	}
	.header{
		margin-top: 20px;
	}
}